<div class="main">
    <div>
        <input type="text" [(ngModel)]="value" (ngModelChange)="onTypeHandler()">
    </div>
    <div [ngSwitch]="value">
        <div *ngSwitchCase="'hello'">
            <p>Hello</p>
        </div>
        <div *ngSwitchCase="'nothing'">
            <p>nothing</p>
        </div>
        <div *ngSwitchDefault>
            <p>Default</p>
        </div>
    </div>
    <div>
        <button (click)="isShowSectionOne =!isShowSectionOne" [ngStyle]="{'background-color': 'yellow'}">Show Section One</button>
        <button (click)="isShowSectionTwo =!isShowSectionTwo" [ngClass]="{'bg-color': true}">Show Section Two</button>
    </div>
    <div *ngIf="!isShowSectionOne">
        <app-section-one></app-section-one>
    </div>
    <div *ngIf="!isShowSectionTwo">
        <app-section-two></app-section-two>
    </div>
</div>