<div>
    <img class="sectiononeimage"
        src="https://c0.wallpaperflare.com/preview/222/411/586/chart-trading-courses-forex.jpg">
</div>

<div class="flex-container">
    <div *ngFor="let item of list">
        <div class="card">
            <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
                alt="Avatar">
            <div class="container">
                <h4><b>{{ item.name }}</b></h4>
                <p>{{ item.position }}</p>
            </div>
        </div>
    </div>

    <!-- <div class="card">
        <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Web Designer</p>
        </div>
    </div>

    <div class="card">
        <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Web Designer</p>
        </div>
    </div>

    <div class="card">
        <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Web Designer</p>
        </div>
    </div>

    <div class="card">
        <img src="https://static.remove.bg/remove-bg-web/ea3c274e1b7f6fbbfe93fad8b2b13d7ef352f09c/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Web Designer</p>
        </div>
    </div> -->

</div>